<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAA/4QAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEREREREAAAERERERERAAERAAAAAAEQEQAAARAAABERAAABEAAAEREAAAEQAAAREQAAARAAABERAAABEAAAEREAAAEQAAAREQAAARAAABERAAAAAAAAEREAAAEQAAAREQAAARAAABEBEAAAAAABEAAREREREREAAAEREREREADgBwAAwAMAAI/5AAA+fAAAPnwAAD58AAA+fAAAPnwAAD58AAA+fAAAP/wAAD58AAA+fAAAn/kAAMADAADgBwAA" rel="icon" type="image/x-icon" />
</head>

<body>
    <!-- Start your project here-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Панель управления</a>
                </li>
                <li class="nav-item">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="oi oi-plus" title="plus" aria-hidden="true"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="nav-link" href="/add/user">Пользователь</span></a>
                            <a class="nav-link" href="/add/group">Группа</a>
                        </div>
                    </li>
                </li>                
                <li class="nav-item">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="oi oi-eye" title="eye" aria-hidden="true"></span>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="nav-link" href="/view/users">Пользователи</span></a>
                            <a class="nav-link" href="/view/groups">Группы</a>
                        </div>
                    </li>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Авторизоваться</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" id="alert-modal"> </div>
    <div class="container">
        <video id="video" height="480" autoplay></video>
        <button id="takePhoto-btn" class="btn btn-primary">Сделать фото</button>
        <canvas id="canvas" width="640" height="480"></canvas>

        <div class="form-group">
            <input class="form-control" type="text" width="20" placeholder="Имя" id="name-in" required>
            <input class="form-control" type="text" width="20" placeholder="Фамилия" id="surname-in" required>
        </div>

        <div class="form-group">
            <select class="form-control" id="kvant-in" width="20">
                <option>Выберите квантум</option>
                <option value="IT">IT</option>
                <option value="Промдизайн">Промдизайн</option>
            </select>
        </div>

        <div class="form-group">
            <select class="form-control" id="day-in" width="20">
                <option>Выберите день недели</option>
                <option value="0">Понедельник</option>
                <option value="1">Вторник</option>
                <option value="2">Среда</option>
                <option value="3">Четверг</option>
                <option value="4">Пятница</option>
            </select>
        </div>
        <div class="form-group">
            <select class="form-control" id="time-in" width="20">
                <option>Выберите время</option>
            </select>
        </div>
        <button id="send-btn" class="btn btn-success">Отправить</button>
    </div>
    <!-- /Start your project here-->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/static/js/databaseWork.js"></script>
    <script src="/static/js/bootStrapAlert.js"></script>
    <script type="text/javascript">
        var daysofweek = ["Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота", "Воскресенье"];

        var timeResfresh = function() {
            if (responseData["status"] == "ok" & xhr.status == 200) {
                groups = responseData["items"];
                htmlcont = "";
                kvantVal = $("#kvant-in").val();
                dayVal = $("#day-in").val();
                matchGroups = $.grep(groups, function(n, i) {
                    return n.kvant === kvantVal & n.dayofweek === parseInt(dayVal);
                });
                if (matchGroups.length == 0) {
                    htmlcont += "<option value='-1'>Групп в этот день не найдено!</option>";
                } else {
                    htmlcont += "<option>Выберите время</option>";
                }
                for (i = 0; i < matchGroups.length; i++) {
                    group = matchGroups[i];
                    htmlcont += "<option value='" + group["id"] + "'>" + group["time"] + " (Наставник: " + Users[group["ownerid"]]["name"] + ")</option>";
                }
                $("#time-in").html(htmlcont);
            } else {
                bootstrap_alert.warning("Произошла ошибка " + xhr.status + ":" + responseData["error"]["reason"]);
            }
        };

        $("#canvas").height(0);
        bootstrap_alert = function() {}
        bootstrap_alert.warning = function(message) {
            $('#alert-modal').html('<div class="modal-dialog" role="document"> <div class="modal-content"> <div class="modal-header">  <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button> </div> <div class="modal-body">' + message + ' </div> <div class="modal-footer"> <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> </div> </div> </div>');
            $('#alert-modal').modal('show');
        }

        var xhr = new XMLHttpRequest();

        xhr.open("GET", "/api/getGroups", false);
        xhr.send()
        responseData = JSON.parse(xhr.responseText);

        $("#day-in").on('change', timeResfresh);
        $("#kvant-in").on('change', timeResfresh);

        var video = document.getElementById('video');
        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({
                video: true
            }).then(function(stream) {
                video.srcObject = stream;
                video.play();
            });
        }
        var canvas = document.getElementById('canvas');
        var context = canvas.getContext('2d');
        var video = document.getElementById('video');
        var photo = canvas.toDataURL('image/jpeg');
        $("#takePhoto-btn").on("click", function() {
            $("#canvas").height(480);
            context.drawImage(video, 0, 0, 640, 480);
        });

        $("#send-btn").on('click', function() {
            if ($("#time-in").val() == -1) {
                bootstrap_alert.warning("Вашей группы еще нет в базе!");
            } else {
                photo = canvas.toDataURL('image/jpeg');
                var requestData = JSON.stringify({
                    name: $("#name-in").val(),
                    surname: $("#surname-in").val(),
                    groupid: $("#time-in").val(),
                    photo: photo
                });
                xhr.open("POST", '/api/addUser', false)
                xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
                xhr.send(requestData);
                responseData = JSON.parse(xhr.responseText);
                if (responseData["status"] == "ok" & xhr.status == 200) {
                    bootstrap_alert.warning("Добавление в базу прошло успешно!");
                } else {
                    bootstrap_alert.warning("Произошла ошибка при добавлении в базу " + xhr.status + ":" + responseData["error"]["reason"]);
                }
            }
        })
    </script>
</body>

</html>